<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<!-- 扫描所需控制器：modeler组件、diagram组件 -->
	<context:component-scan base-package="org.activiti.rest.editor,ffs.activiti.rest.diagram.services">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<mvc:annotation-driven />

	<!--拦截加载配置文件的请求，定制化处理-->
	<bean id="stencilsetController" class="ffs.activiti.web.StencilsetController"/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/editor/stencilset"/>
			<bean class="ffs.activiti.web.StencilsetInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>